[submodule "submodules/BinarySerializer"]
	path = submodules/BinarySerializer
	url = https://github.com/BinarySerializer/BinarySerializer
[submodule "submodules/BinarySerializer.Audio"]
	path = submodules/BinarySerializer.Audio
	url = https://github.com/BinarySerializer/BinarySerializer.Audio
[submodule "submodules/BinarySerializer.Audio.GBA"]
	path = submodules/BinarySerializer.Audio.GBA
	url = https://github.com/BinarySerializer/BinarySerializer.Audio.GBA
